* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


body {
    text-align: center;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.about-us__image-desktop {
    display: none;
}

section {
    width: 100%;
}

h1,
h2,
h3 {
    position: relative;
    padding: 2em;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 600;
    color: #23242A;
}

.about-us-desktop-dots {
    display: none;
}

h2:after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    width: 80px;
    margin: 0 auto;
    height: 5px;
    border-radius: 4px;
    background: #DC9168;
}

p {
    line-height: 1.9em;
}

.main-nav {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #23242A;
    width: 100%;
    height: 82%;
    margin: -4em 0;
}

.main-nav__item {
    margin-top: 4.5em;

}

.main-nav__link {
    color: #DC9168;

}

.main-nav__list {
    margin: 3em 0;
}

.offer__item {

    width: 100%;
    height: 40vh;
}


.main-header {
    background: url("../img/header-background-mobile.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    color: white;
}

.logo {
    width: 10em;
}

.main-nav {
    display: none;
}

.menu-logo {
    display: flex;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
}

.hamburger-icon {
    width: 2em;
    color: white
}

.header__title {
    margin: 2em 0 0.5em 0;
    padding: 0 1em;
    color: white;
}

.header__subtitle {
    margin: 2em .5em;
    font-weight: 400;
}

.btn-primary {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 10em;
    padding: 1em;
    background-color: #DC9168;
    border: none;

}



.k {
    margin: 0 auto;
    width: 20%;
    height: 5px;
    border-radius: 1px;
    background-color: #DC9168;
}

.about-us {
    min-height: 100vh;
    background-color: #EFEBEB;

}

.container {
    position: relative;

}

.about-us__subtitle {
    position: absolute;
    color: white;
    top: 20%;
    padding: 0 1em;
    font-size: 0.9rem;
    font-weight: 400;
}

.mobile-dots {
    margin: 2em auto 3em auto;
    width: 40%;

}

.offer {
    background-color: #EFEBEB;
    font-weight: 500;
}

.offer__item {
    position: relative;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    background-size: cover;
    margin: 2em 0 2em 0;
}



.one {

    background-image: url('../img/1.jpg');
}

.two {

    background-image: url('../img/2.jpg');
}

.three {
    background-image: url('../img/3.jpg');

}

.offer-number {
    font-family: 'Alice', serif;
    position: relative;
    margin: 0 auto;
    color: white;
    top: -2em;
    width: 4em;
    height: 4em;
    background-color: #23242A;
}

.number {
    font-size: 3rem;

    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}


.offer-icons {
    width: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 80px;
    background-color: #23242A;
}

.offer-describtion {
    font-size: .9rem;
    line-height: 1.5em;
    text-align: left;
    padding: 1em 1em 1em 2em;

}

.price-list-background {
    font-size: 0.9rem;
    padding: 0 1em;

}

table {
    font-size: .9rem;
    padding: .5em;
    color: #DC9168;
}

tr {

    padding: 5em;
    margin-bottom: 10em;
}

td {
    color: #DC9168;
    padding: 1em;
    margin-bottom: 10em;
    line-height: 1.4rem;
}

.price-list-background p {
    padding: 1em 0;
    color: #23242A
}

.price-list {
    min-height: 100vh;
    background-color: #F5F5F5
}

.price-list__title {
    color: #23242A;
}

.form {
    margin: 1rem auto;
    max-width: 40rem;
}

.form .form-row {
    margin-bottom: 1rem;
}

.form .form-row:last-child {
    margin-bottom: 0;
}

.form input[type=text],
.form input[type=email],
.form textarea,
.form .checkbox-cnt .state {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.07);
}

.form input[type=text],
.form input[type=email],
.form textarea {
    padding: 0.8rem;
    border: 1px solid #DC9168;
    display: block;
    width: 100%;
    color: white;
    background: transparent;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color: #9DC9F5;
    box-shadow: inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0, 0, 0, 0.07);
    outline: none;
}

.form textarea {
    height: 10rem;
}

.form label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    background: transparent;
    color: white;

}

.form .submit-btn {
    font-family: 'Montserrat', sans-serif;
    padding: .7rem 3rem;
    margin-top: .5rem;
    background: #DC9168;
    border: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s background-color;
}



.form .checkbox-cnt {
    padding-left: 3rem;
    position: relative;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: #DC9168;
    cursor: pointer;
}

.form .checkbox-cnt .state {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #aaa;

}

.form .checkbox-cnt .state:before {
    width: 1rem;
    height: 1rem;

    background: #DC9168;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.form .checkbox-cnt input:checked~.state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}

.form .checkbox-cnt input {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
}


.contact-us {

    padding: 1em 2rem;
    min-height: 150vh;
    background-image: url('../img/mobile-contact-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.display {
    display: block;
}

.hide {
    display: none;
}

.contact-info {
    color: white;

}


.contact-info__title {
    color: white;
    font-size: 1.5rem;
}

.contact-info__subtitle {
    font-weight: 300;
    font-size: .9rem;
    margin-bottom: 2.5em;
    text-align: left;
}

.icon-info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.icon-info img {
    margin-right: 1em;

}

footer {
    position: relative;
    color: white;
    min-height: 50vh;
    width: 100%;
    background-color: #23242A;
}

.icons {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: .5rem;

}

.icons div {
    padding: 1.5em 2em;
    margin-right: 4em
}

.icons div a {
    color: #D2D1D1;

}

.footer-nav__link {
    color: white;
    font-size: 1rem;
}



.footer-nav__list {
    padding: 1.5em;
}

td {
    color: black;
}

@media (min-width:411px) {
    .hero-wrapper {
        margin-top: 8em;
    }

    .about-us__subtitle {

        top: 25%;
        padding: 0 1em;
        font-size: 1rem;

    }
}


@media (min-width:500px) {


    .about-us__subtitle {
        top: 30%;
        padding: 0 1em;
        font-size: 1.2rem;

    }

    .header__subtitle {
        margin: 2em 3em;

    }

    .offer-icons {
        width: 4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .icon-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160px;
        height: 120px;
        background-color: #23242A;
    }
}

@media (min-width:700px) {
    .offer-describtion {
        font-size: 1.2rem;
    }

    table {
        font-size: 1.1rem;
    }

    td {
        font-size: 1.1rem;
    }

    .contact-info__subtitle {
        font-size: 1.2rem;

    }


}

@media (min-width:700px) {
    .offer-describtion {
        font-size: 1.2rem;
    }

    .header__subtitle {
        margin: 2em 5em;

    }

    table {
        font-size: 1.1rem;
    }

    td {
        font-size: 1.1rem;
    }

    .contact-info__subtitle {
        font-size: 1.2rem;

    }
}


@media (min-width:1024px) {
    .main-header {
        background-image: url('../img/header-background-desktop.jpg');
        /* overflow: hidden; */
    }

    .about-us__image-desktop {
        display: block;
    }

    h1,
    h2,
    h3 {
        font-size: 3rem;
    }

    .hamburger-icon {
        display: none;
    }

    .main-nav {
        display: block;
        position: static;
        top: 0;
        left: 0;
        transform: none;
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0;
    }

    .main-nav__item {
        margin-top: 0;
        display: flex;

    }

    .main-nav__link {
        color: white;
        margin-right: 2.5em;
        font-size: .9rem;
        transition: .3s;
    }

    .footer-nav__link:hover,
    .main-nav__link:hover {
        color: #DC9168
    }

    .main-nav__list {
        margin: 0;
    }

    .menu-logo {

        padding: 3em 6em;
        justify-content: space-between;
    }

    .hero-wrapper {
        text-align: left;
        padding: 1.3em 6em;
    }


    .header__title {
        font-size: 3rem;
        margin: 0 0 2rem 0;
        padding: 0;
    }

    .header__subtitle {
        font-size: 1.2rem;
        margin: 0;
        width: 50%;
        font-weight: 300;
    }

    .btn-primary {

        width: 14em;
        padding: 1.1em;
        margin: 2rem 0;
        transition: .3s;
        font-size: 1rem;
        font-weight: 500;
    }

    .submit-btn:hover,
    .btn-primary:hover {
        background-color: #c5805a;
        cursor: pointer;
    }

    .about-us {
        min-height: 100vh;
        background-color: #EFEBEB;
    }

    .mobile {
        display: none;
    }

    .about-us__image-desktop {
        width: 30%;
        z-index: 2;
    }

    .container {
        margin: 0 auto;
        position: relative;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        width: 50%;

    }

    .about-us__subtitle {
        position: static;
        color: #23242A;
        top: 0;
        padding: 0 1em;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .mobile-dots {
        position: absolute;
        top: 90%;
        left: 53%;
        transform: translate(-50%, -50%);
        width: 10%;
    }

    .about-us-desktop-dots {
        display: block;
        position: absolute;
        top: -9%;
        left: 4%;
        z-index: 1;
        height: 50%;
    }

    .right {
        left: 90%;
    }

    .offer__item {
        position: relative;
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 50vh;
        margin: 0;
    }

    .offer-number {
        font-family: 'Alice', serif;
        position: relative;
        color: white;
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        width: 4em;
        height: 4em;

        background-color: #23242A;
    }

    .center {
        right: 0;
        left: 50%;
    }


    .number {
        font-size: 3rem;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
    }


    .offer-icons {
        width: 4.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .icon-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 160px;
        background-color: #23242A;
    }

    .offer-describtion {
        font-size: 1.1rem;
        line-height: 1.5em;
        text-align: left;
        padding: 1em 8em 1em 2em;

    }

    .offer__item-container {
        display: flex;
        align-items: center;
    }

    .offer-describtions-container {
        order: -1;
        width: 50%;
        margin-left: 1em;
    }

    .dif {
        order: 1
    }

    .price-list-background p {
        padding: 1em 0;
        color: #23242A
    }

    .price-list {
        min-height: 100vh;
        background-color: #F5F5F5;
        padding: 0 0 8em 0;
    }

    .price-list__title {
        color: #23242A;
    }

    table {
        font-size: 1.3rem;
        padding: .8em;

    }

    tr {

        padding: 5em;
        margin-bottom: 10em;
    }

    td {
        padding: 1em 5em;
        margin-bottom: 10em;
        line-height: 1.4rem;
    }

    .contact-us {
        display: flex;
        padding: 1em 2rem;
        min-height: 30vh;
        background-image: url('../img/contact.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .contact-info {
        padding: 0 3em;
    }

    .contact-info__subtitle {
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 2.5em;
        text-align: left;
    }

    .icon-info {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
    }

    .icon-info img {
        margin-right: 1em;

    }

    footer {
        position: relative;
        color: white;
        min-height: 15vh;
        width: 100%;
        background-color: #23242A;
        font-size: .5rem;
    }

    .footer-nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5em;
    }

    .footer-nav__link {
        color: white;
        font-size: .9rem;
        font-weight: normal;
        margin-right: 4em;
        transition: .3s
    }



    .footer-nav__list {
        padding: 1.5em;
    }

    .contacts-wrapper {
        padding: 1em;
    }

}